<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>课程导航栏</title>

    <!--<script th:src="@{/myui/common.js}" type="text/javascript"></script>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/myui/css/main.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css}" />
    <script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{/myui/js/app.js}" type="text/javascript"></script>
    <script th:src="@{/myui/js/student/information.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js}"></script>
</head>
<body class="">
<nav th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container margintop30">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header marginright40">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a th:href="@{user/person.html}"><img src="__PUBLIC__/Common/images/logo.png" class="l" /></a> </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a th:href="@{user/person.html}">首页</a></li>
                <li class="active"><a th:href="@{user/person.html}"><i class="person icon"></i>个人中心</a></li>
                <li><a th:href="@{user/person.html}"><i class="talk icon"></i>预约中心</a></li>
            </ul>
            <form action="" class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索内容">
                    <span class="input-group-btn">
                        <button class="btn btn-success">搜索</button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--<if condition="$userId gt 0 ">-->

                <li class="dropdown" th:if="${session.current_account} != null"> <a th:href="@{user/person.html}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">通知
                    <span class="caret"> <span style="color:red" id="message_count"></span></span>
                </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{user/person.html}"><i class="user icon"></i>个人资料</a></li>
                        <li><a th:href="@{user/person.html}">修改密码</a></li>
                        <li><a th:href="@{user/person.html}">绑定手机/邮箱</a></li>
                        <li><a th:href="@{user/person.html}">站内信 <span>17</span></a></li>
                        <li><a th:href="@{user/person.html}">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.current_account} == null"><a th:href="@{user/person.html}">登录</a></li>
                <li th:if="${session.current_account }== null"><a th:href="@{user/person.html}">注册</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container-fluid">

    <!--左侧导航栏-->
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sider">
                <li ><a th:href="@{/user/information.html}" >我的资料</a></li>
                <li  class="active"><a th:href="@{/student/information.html}">学生档案</a></li>
                <li><a th:href="@{/student/information.html}">教师信息</a></li>
                <li><a th:href="@{student/information.html}">订单信息</a></li>
                <li><a th:href="@{student/information.html}">通知</a></li>
                <li><a th:href="@{student/information.html}">发布家教信息</a></li>
                <li><a th:href="@{student/information.html}">我当教师</a></li>
            </ul>
        </div>
    </div>
    <!-- 右侧内容 -->
    <div class="col-md-10  col-md-offset-1 main">
        <h2>学生资料</h2>
        <hr>
        <div th:if="${student} != null" th:object="${student}">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" >真名</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{sname}">name</p>
                    </div>
                    <label class="col-sm-2 control-label" >所在城市</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{email}">email</p>
                    </div>
                    <label class="col-sm-2 control-label" >居住地</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{address}">address</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >年级</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{grade}">grade</p>
                    </div>
                    <label class="col-sm-2 control-label" >性别</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{sex}">性别</p>
                    </div>
                    <label class="col-sm-2 control-label" >学习成绩</label>
                    <div class="col-sm-2">
                        <p class="form-control-static" th:text="*{rank}">rank</p>
                    </div>
                </div>

            </form>
            <div>
                <button type="submit" class="btn btn-primary" data-toggle="modal"  data-target="#updateStudentModal">
                    修改资料
                </button>
            </div>
        </div>
        <div th:if="${student} == null" class="" >
            <p>未建立学生档案，请前往建立学生档案</p>
            <div>
                <button type="submit" class="btn btn-primary" data-toggle="modal"  data-target="#addCourseModal">
                    建立档案
                </button>
            </div>
        </div>

    </div>

</div>

<!--建立档案弹框-->
<form  method="post" class="form-horizontal" role="form" id="form_data" onsubmit="return information.student_form();" style="margin: 20px;">
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        学生信息填写
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="sname" class="col-sm-3 control-label">真名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="sname"  maxlength="8"
                                       placeholder="请输入真名" size="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sname" class="col-sm-3 control-label">年龄</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="age"  maxlength="8"
                                       placeholder="年龄" size="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="grade" class="col-sm-3 control-label">年级</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="grade" value="" id="grade"
                                       placeholder="年级" maxlength="4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rank" class="col-sm-3 control-label">学习程度</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="credit" value="" id="rank"
                                       placeholder="学习程度" maxlength="4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-sm-3 control-label">城市</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" value="" id="city"
                                       placeholder="城市">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-3 control-label">居住地</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address" value="" id="address"
                                       placeholder="居住地">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">自我介绍</label>
                            <textarea class="col-sm-offset-3 form-control"  id="comment"></textarea>
                        </div>
                        <div id="registStudentMessage" class="hidden"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        建立档案
                    </button><span id="tip_create"> </span>
                    <input type="hidden" value="add">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
<!--建立档案弹框-->
<form  method="post" class="form-horizontal" role="form" onsubmit="return information.update_student();" style="margin: 20px;">
    <div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">
                        修改学生档案
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" th:object="${student}">
                            <label for="up_sname" class="col-sm-3 control-label">真名</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="up_sname"
                                       placeholder="请输入真名" th:value="*{sname}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="up_age" class="col-sm-3 control-label">年龄</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="up_age"  maxlength="8"
                                       placeholder="年龄" size="10" th:value="*{age}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="up_grade" class="col-sm-3 control-label">年级</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="up_grade" value="" id="up_grade"
                                       placeholder="年级" maxlength="4" th:value="${student.age}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="up_rank" class="col-sm-3 control-label">学习程度</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" value="" id="up_rank"
                                       placeholder="学习程度" th:value="*{rank}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-sm-3 control-label">城市</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="city" value="" id="up_city"
                                       placeholder="城市" th:value="*{city}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-3 control-label">居住地</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="address" value="" id="up_address"
                                       placeholder="居住地" th:value="*{address}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">自我介绍</label>
                            <textarea class="col-sm-offset-3 form-control"  id="up_comment" th:value="*{comment}"></textarea>
                        </div>
                        <div id="updateStudentMessage" class="hidden"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        提交更改
                    </button><span id="tip_update"> </span>
                    <input type="hidden" value="add">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<script th:inline="javascript">
    /*<![CDATA[*/

    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function(){
        app.init(contextPath);
        console.log(contextPath);
        var interval = setInterval( app.getMessageCount(),600); //每个五秒调用一次函数
        // information.init();
    });
    /*]]>*/
</script>
</body>
</html>