<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.dao.InsiteMessageMapper">
  <resultMap id="BaseResultMap" type="com.lgs.entity.InsiteMessage">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="message_text_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="take" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="receiver_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, message_text_id, take, deleted, create_time, update_time, receiver_id, receiver_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from insite_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from insite_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.entity.InsiteMessage">
    insert into insite_message (id, message_text_id, take, 
      deleted, create_time, update_time, 
      receiver_id, receiver_name)
    values (#{id,jdbcType=INTEGER}, #{messageTextId,jdbcType=INTEGER}, #{take,jdbcType=TINYINT}, 
      #{deleted,jdbcType=TINYINT}, now(), now(),
      #{receiverId,jdbcType=INTEGER}, #{receiverName,jdbcType=VARCHAR})
  </insert>

  <resultMap id="MessageVoMap" type="com.lgs.vo.MessageVo">
    <result column="take" javaType="java.lang.Byte" jdbcType="TINYINT"  property="take"/>
    <result column="cdeleted" javaType="java.lang.Byte" jdbcType="TINYINT" property="deleted"/>
    <result column="ctime" javaType="java.util.Date" jdbcType="TIMESTAMP"  property="createTime"/>
    <result column="utime" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="receiver_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="receiverId"/>
    <result column="receiver_name" javaType="java.lang.String" jdbcType="VARCHAR" property="receiverName"/>
    <association property="insiteMessageText" javaType="com.lgs.entity.InsiteMessageText">
      <constructor>
        <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
        <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <arg column="send_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
        <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
        <arg column="module_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <arg column="link" javaType="java.lang.String" jdbcType="VARCHAR" />
        <arg column="creator_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <arg column="creator_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      </constructor>
    </association>
  </resultMap>

  <select id="selectMessages" parameterType="java.lang.Integer" resultMap="MessageVoMap">
    select
    take, c.deleted cdeleted,c.create_time ctime, c.update_time utime, receiver_id, receiver_name, t.*
    from insite_message c, insite_message_text t where c.message_text_id = t.id
    and c.receiver_id = #{id}
  </select>

  <select id="selectUnreadMessage" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(*) from insite_message
    WHERE receiver_id = #{receiverId} and take = 0 and deleted = 0
  </select>



  <insert id="insertSelective" parameterType="com.lgs.entity.InsiteMessage">
    insert into insite_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageTextId != null">
        message_text_id,
      </if>
      <if test="take != null">
        take,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="receiverName != null">
        receiver_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageTextId != null">
        #{messageTextId,jdbcType=INTEGER},
      </if>
      <if test="take != null">
        #{take,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.entity.InsiteMessage">
    update insite_message
    <set>
      <if test="messageTextId != null">
        message_text_id = #{messageTextId,jdbcType=INTEGER},
      </if>
      <if test="take != null">
        take = #{take,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="receiverName != null">
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.entity.InsiteMessage">
    update insite_message
    set message_text_id = #{messageTextId,jdbcType=INTEGER},
      take = #{take,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      receiver_id = #{receiverId,jdbcType=INTEGER},
      receiver_name = #{receiverName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>