<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.dao.InsiteMessageMapper">
  <resultMap id="BaseResultMap" type="com.lgs.entity.InsiteMessage">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="message_text_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="receiver_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="take" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, message_text_id, receiver_id, take, deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from insite_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUnreadMessage" parameterType="java.lang.Integer" resultType="Integer">
    select
    count(*)
    from insite_message
    where receiver_id = #{recieverId,jdbcType=INTEGER}
    AND
    take = 0 and deleted = 0
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from insite_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.entity.InsiteMessage">
    insert into insite_message (id, message_text_id, receiver_id, 
      take, deleted, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{messageTextId,jdbcType=INTEGER}, #{receiverId,jdbcType=INTEGER}, 
      #{take,jdbcType=TINYINT}, #{deleted,jdbcType=TINYINT}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.lgs.entity.InsiteMessage">
    insert into insite_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="messageTextId != null">
        message_text_id,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="take != null">
        take,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageTextId != null">
        #{messageTextId,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="take != null">
        #{take,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.entity.InsiteMessage">
    update insite_message
    <set>
      <if test="messageTextId != null">
        message_text_id = #{messageTextId,jdbcType=INTEGER},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=INTEGER},
      </if>
      <if test="take != null">
        take = #{take,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.entity.InsiteMessage">
    update insite_message
    set message_text_id = #{messageTextId,jdbcType=INTEGER},
      receiver_id = #{receiverId,jdbcType=INTEGER},
      take = #{take,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>