<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.lgs.entity.Teacher">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="real_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="card_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="diploma_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="diploma" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birth" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="verified_image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="subject1_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subject1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subject2_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subject2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lgs.entity.Teacher">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="real_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="card_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="diploma_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="diploma" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birth" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="verified_image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="deleted" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="subject1_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subject1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subject2_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subject2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, real_name, user_id, username, card_id, diploma_id, diploma, city, birth, photo, 
    verified_image, deleted, create_time, update_time, subject1_id, subject1, subject2_id, 
    subject2, sex, phone, profession, status
  </sql>
  <sql id="Blob_Column_List">
    comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where user_id = #{userId,jdbcType=INTEGER} and deleted = 0
  </select>

  <select id="selectByCitySubject" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where 0 = 0
    <if test="city != null">
      and city = #{city}
    </if>
    <if test="subject != null">
      and subject = #{subject}
    </if>
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from teacher
    where 0 = 0
    <if test="username != null">
      and username like #{username}
    </if>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.entity.Teacher">
    insert into teacher (id, real_name, user_id, 
      username, card_id, diploma_id, 
      diploma, city, birth, 
      photo, verified_image, deleted, 
      create_time, update_time, subject1_id, 
      subject1, subject2_id, subject2, 
      sex, phone, profession, status, 
      comment)
    values (#{id,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{diplomaId,jdbcType=INTEGER}, 
      #{diploma,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{birth,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{verifiedImage,jdbcType=VARCHAR}, #{deleted,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{subject1Id,jdbcType=INTEGER}, 
      #{subject1,jdbcType=VARCHAR}, #{subject2Id,jdbcType=INTEGER}, #{subject2,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lgs.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="diplomaId != null">
        diploma_id,
      </if>
      <if test="diploma != null">
        diploma,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="verifiedImage != null">
        verified_image,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      create_time,update_time
      <if test="subject1Id != null">
        subject1_id,
      </if>
      <if test="subject1 != null">
        subject1,
      </if>
      <if test="subject2Id != null">
        subject2_id,
      </if>
      <if test="subject2 != null">
        subject2,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="diplomaId != null">
        #{diplomaId,jdbcType=INTEGER},
      </if>
      <if test="diploma != null">
        #{diploma,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="verifiedImage != null">
        #{verifiedImage,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      now(),now(),
      <if test="subject1Id != null">
        #{subject1Id,jdbcType=INTEGER},
      </if>
      <if test="subject1 != null">
        #{subject1,jdbcType=VARCHAR},
      </if>
      <if test="subject2Id != null">
        #{subject2Id,jdbcType=INTEGER},
      </if>
      <if test="subject2 != null">
        #{subject2,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.entity.Teacher">
    update teacher
    <set>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="diplomaId != null">
        diploma_id = #{diplomaId,jdbcType=INTEGER},
      </if>
      <if test="diploma != null">
        diploma = #{diploma,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="verifiedImage != null">
        verified_image = #{verifiedImage,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>

      <if test="subject1Id != null">
        subject1_id = #{subject1Id,jdbcType=INTEGER},
      </if>
      <if test="subject1 != null">
        subject1 = #{subject1,jdbcType=VARCHAR},
      </if>
      <if test="subject2Id != null">
        subject2_id = #{subject2Id,jdbcType=INTEGER},
      </if>
      <if test="subject2 != null">
        subject2 = #{subject2,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lgs.entity.Teacher">
    update teacher
    set real_name = #{realName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      diploma_id = #{diplomaId,jdbcType=INTEGER},
      diploma = #{diploma,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      verified_image = #{verifiedImage,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      subject1_id = #{subject1Id,jdbcType=INTEGER},
      subject1 = #{subject1,jdbcType=VARCHAR},
      subject2_id = #{subject2Id,jdbcType=INTEGER},
      subject2 = #{subject2,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.entity.Teacher">
    update teacher
    set real_name = #{realName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      diploma_id = #{diplomaId,jdbcType=INTEGER},
      diploma = #{diploma,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      verified_image = #{verifiedImage,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      subject1_id = #{subject1Id,jdbcType=INTEGER},
      subject1 = #{subject1,jdbcType=VARCHAR},
      subject2_id = #{subject2Id,jdbcType=INTEGER},
      subject2 = #{subject2,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="deleteByTeacherId" parameterType="Integer">
    update teacher
    set deleted = 1
    where id = #{teacherId}

  </update>
</mapper>