.teacher-container{
    width: 1000px;
    margin: 12px auto;
    height: 800px;
    position: relative;
}
.detail-container{
    width: 600px;
    position: absolute;
    margin: 0 8px;
    left: 400px;
    top: 0;
}

.image-container{
    width: 400px;
    height: 400px;
}

.detail-container{
    width: 600px;
    position: absolute;
    margin: 42px 53px;
    left: 400px;
    top: 0;
}
.teacher-name{
    font-weight: bold;
    font-size: 24px;
}
.goods-detail{
    font-size: 15px;
    margin: 0 8px;
}
.goods-image{
    width: 400px;
    height: 100%;
}
.goods-sale{
    margin-top: 8px;
}
.sale{
    background-color: #ffece3;
    padding: 16px 14px;
}

.panel-footer.btn_order {
    bottom: 15px;
    position: absolute;
    right: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
}
#comments_title {
    color: #4e4e4e;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.comment_section {
    margin-top: 30px;
    position: relative;
}
.post_reply_comments {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
}
.post_reply_comments h4 {
    color: #c4c4c5;
    font-weight: 400;
}