<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/myui/css/main.css}"/>
    <script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<div th:replace="view/layout/header::header"></div>
<div class="container">
    <div id="term">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                c<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <c:forEach items="${categoryMap['departmentList']}" var="d" varStatus="status">
                    <li><a href="/student/search.do?categoryId=${d.id}&grade=${cur_grade}">${d.name}</a></li>
                </c:forEach>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                专业<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <c:forEach items="${categoryMap['majorList']}" var="m" varStatus="status">
                    <li><a href="/student/search.do?categoryId=${m.id}&grade=${cur_grade}">${m.name}</a></li>
                </c:forEach>
            </ul>
        </div>
    </div>
    <div class="breaknav">
        <ul class="breadcrumb">
            <li><a th:href="@{#}">Home</a></li>
            <li><a th:href="@{#}">2013</a></li>
            <li class="active">十一月</li>
        </ul>
    </div>
    <div class="row" th:each="info,iterStat:${eduinfo}">
        <div class="col-md-4">
            <img class="img-circle" th:src="@{myui/imgs/static.jpg}" alt="Generic placeholder image" width="140" height="140">
            <h2>名字</h2>
            <p th:text="">辅导科目：</p>
            <p>家教时间：</p>
            <p>家教地点：</p>
            <p>城市</p>
            <p>时价：</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

    </div>
</div>
</body>
</html>